.header {
    height: 20%;
    width: 100%;
    background: #b3dbff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 50px;
}
