.sidebar {
    height: 100%;
    width: 250px;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 60%;
    width: 100%;
    background: blue;
    display: flex;
    flex-direction: row;
}

.content {
    padding: 10px;
}
